body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.heroSection {
  background: url("../images/newBg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
}

.cta {
  background: linear-gradient(to right, #6c2c72, #c1416e);
}

/* Ensure the header doesn't overflow on mobile */
header {
  max-width: 100%;
  overflow: hidden;
}

/* Adjust padding for mobile */
@media (max-width: 768px) {
  header {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* Ensure the menu icon is properly sized and positioned */
  .menu-icon {
    width: 24px;
    height: 24px;
  }
}

/* Ensure font sizes and spacing are responsive */
h1,
h3 {
  text-align: center;
}

.sideBar {
  display: none;
  transition: all 5s ease-in-out;
}

/* Shown state */
.sideBar.active {
  display: flex;
  height: auto;
}

.accordion-content {
    display: none;
}
.accordion-content.open {
    display: block;
}

.accordion {
    width: 100%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.accordion-panel {
    border-bottom: 1px solid #ccc;
}

.accordion-title {
    width: 100%;
    padding: 15px;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.accordion-title:hover {
    background-color: #ddd;
}

.accordion-content {
    display: none;
    padding: 15px;
    background-color: white;
}

.mb-2 {
    margin-bottom: 8px;
}

.text-gray-500 {
    color: #6b7280;
}

.dark .text-gray-400 {
    color: #9ca3af;
}

.text-cyan-600 {
    color: #0891b2;
}

.hover\:underline:hover {
    text-decoration: underline;
}

.list-disc {
    list-style-type: disc;
}

.pl-5 {
    padding-left: 1.25rem;
}